<nav class="nav">
  <h1><a routerLink="">Booking.com</a></h1>
  <div *ngIf ="menuType=='default'"class="nav-search">
    <input type="text" placeholder="Search">
    <button>Search</button>
  </div>
  <div [ngSwitch]="menuType">
  <ul *ngSwitchCase="'default'">
    <li><button routerLink="sellerLogIn">List Your Property</button></li>
    <li><button routerLink="userLogIn" >Login</button>
  </ul>
  <ul *ngSwitchCase="'seller'">
    <li><a routerLink="seller-add-property" title="Add Property">
      <mat-icon>add_circle_outline</mat-icon>
    </a></li>
    <li><a routerLink="/seller-home" title="List of Properties">
      <mat-icon>list</mat-icon>
    </a>
    <li><a title="Log Out" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a></li>
    <li><a [title]="sellerName">
      <mat-icon>account_circle</mat-icon>
    </a></li>
  </ul>
</div>
</nav>
